#header{
    text-transform: uppercase;
}
.degrade{
    background-image: linear-gradient(white, rgba(255, 255, 255, 0.7));
}
#banner{
    position: relative;
    width:100%; 
    height:auto; 
}
.links{
    margin-top: 15px;
}
#linkF{
    padding-top: 10px;
}
#contatoF{
    margin-top: 10px;
}

/* Computador */
@media only screen and (min-width: 800px){
    #banner{
        z-index:-999;
    }
    .links{
        margin-top: 0;
    }
    #linkF{
        padding-top: 0;
    }
    #contatoF{
        margin-top: 0;
    }
    #Sobre{
        width: 70%;
    }
    #Media{ 
        width: 30%;
        padding-left: 10px;
    }
}

#corpo{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

p {
    font-size: 16px;
}

.FooterLinha {
    background-color:#e1e7e6;
    min-width: 100%;
    height: 10px;
}